# MySQL
DB_URL=jdbc:mysql://127.0.0.1:3306/mylive?serverTimezone=Europe%2FAmsterdam&useUnicode=true&characterEncoding=utf8&allowMultiQueries=true
DB_USERNAME=root
DB_PASSWORD=

# Redis
REDIS_DATABASE=1
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Mail
MAIL_HOST=smtp.qq.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

# Admin
ADMIN_SERVER_PORT=7070
ADMIN_CONTEXT_PATH=/admin
ADMIN_ACCOUNT=admin
ADMIN_PASSWORD_HASH=

# Web
WEB_SERVER_PORT=7071

# App
APP_PROJECT_FOLDER=./mylive/

# MinIO
MINIO_ENDPOINT=http://127.0.0.1:9000
MINIO_PUBLIC_ENDPOINT=http://127.0.0.1:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=mylive
MINIO_BASE_PREFIX=file/
MINIO_AUTO_CREATE_BUCKET=true

# Storage
STORAGE_TYPE=local

# Elasticsearch
ELASTICSEARCH_URIS=http://localhost:9200
ES_INDEX_NAME=mylive_video